<!DOCTYPE html>
    <html>
        <meta charset="UTF-8">
        <head>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.united.css') }}">
            <title>Scores Game</title>
        </head>
        <body>
        <div class="card">
            <div class="card-body , contianer">
                <h1>Your Score is  &nbsp;&nbsp; {{Scoreingame}} </h1>
            </div>
        </div>

        </body>
    </html>




